.download-header {
  background-color: #616161;
  border-radius: 5px 5px 5px 5px;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  width: 890px;
  padding: 10px 10px 10px 25px;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	margin: 10px 5px 20px -17px;
	}
.download-container {
	border-bottom: 1px solid rgba(0,0,0,0.25);
	margin-bottom: 10px;
	}
.download-version {
	display: inline-block;
	margin-bottom: 10px;
	min-width: 300px;
	line-height: 50px;
	clear: both;
	font-size: 16px;
	}
.download-buttons {display: inline-block; float:right; height: 40px; padding-top: 10px}
.download-buttons > a > div {
	min-width: 100px;
	height: 30px;
	font-size: 18px;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.25);
	float: right;
	border-radius: 5px;
	margin-left: 10px;
	text-align: center;
	line-height: 30px;
	box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
	}
.download-buttons > a > div:hover {	
	line-height: 32px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	margin-top: 2px;
	}
.mega{
	background-color: #ff0000;
	}
.mediafire {
	background-color: #0045a6;
	}
.drive {
	background-color: #26a567;
	}
.other {
	background-color: #666;
	}
.download-changelog {
	font-size: 14px;
	margin-bottom: 10px;
	}